<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog p-2">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Update Password</h4>
				<button type="button" id="close" (click)="isModalOpen = false" class="close" data-dismiss="modal"><span
					aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="passwordFormGroup" (keydown.enter)="$event.preventDefault();">
					<div class="form-group">
						<div class="row">
							<div class="col-12">
								<label for="password">New Password:<span class="text-danger">*</span></label>
								<input  autocomplete="off" id="password" class="form-control"
									formControlName="password" required [type]="hide ? 'password' : 'text'" />
								<button mat-icon-button matSuffix (click)="hide = !hide"
									[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
									class="show-hide-fun">
									<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
								<div class="text-danger"
									*ngIf="f['password'].errors && f['password'].dirty || f['password'].touched">
									<p class="error" *ngIf="f['password'].errors?.['required']">New password is required
									</p>
									<p class="error" *ngIf="f['password'].errors?.['minlength']">New password should be atleast 4 characters
									</p>
								</div>
							</div>

							<div class="col-12 mt-2">
								<label for="verifyPassword">Verify Password:<span class="text-danger">*</span></label>
								<input [type]="confHide ? 'password' : 'text'" autocomplete="off" id="verifyPassword" class="form-control"
									formControlName="verifyPassword" required />
									<button mat-icon-button matSuffix (click)="confHide = !confHide"
									[attr.aria-label]="'Hide password'" [attr.aria-pressed]="confHide"
									class="show-hide-fun">
									<mat-icon>{{confHide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
								<div class="text-danger"
								*ngIf="f['verifyPassword'].errors && f['verifyPassword'].dirty || f['verifyPassword'].touched">
								<p class="error" *ngIf="f['verifyPassword'].errors?.['required']">Verify Password is required
								</p>
								<p class="error" *ngIf="passwordFormGroup.errors">{{passwordFormGroup.errors?.['match_error']}}
								</p>
							</div>
							</div>
						</div>
					</div>
				</form>
				<div class="text-danger" *ngIf="invalidPassword">
					<p>Entered passwords didn't match.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark"  data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" (click)="changePassword()"
					[disabled]="passwordFormGroup.invalid">Update</button>
			</div>
		</div>
	</div>
</div>