table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
    cursor: pointer;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    cursor: pointer;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .mytable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .mytd, .myth {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .mytr:nth-child(even) {
    background-color: #dddddd;
  }

  .bold{
    font-weight: bold;
  }
  /* .set{
    margin: 10px;
  } */
  .over-btn{
    padding-top: 20px;
  }