<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content" *ngIf="modalData.id">
			<div class="modal-header">
				<h4 class="modal-title" id="userModalLabel">{{title.heading}}</h4>
				<button type="button" id="close" (click)="isModalOpen = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<p>{{title.subHeading}}</p>
				<small class="text-danger">{{title.disclaimer}}</small>
			</div>
			<div class="modal-footer">
				<button type="button" (click)="isModalOpen = false" class="btn btn-dark" data-dismiss="modal">Cancel</button>
				<button type="button" (click)="confirm()" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
</div>