.time-date-field .date-picker {
    margin-top: 30px !important;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  .sec-err{
    text-align: center;
    padding-top: 26px;
    text-transform: uppercase;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .conformation-fields{
    margin-top: 56px;
  }
  .conformation-fields mat-radio-group{
    top: 5px;
    left: 12px;
    position: relative;
  }