.profile-img {
    font-size: 200px;
}

.w33 {
    width: 33.33%;
}

.col-sm {
    margin-bottom: 10px;
}

.col-sm,
input {
    padding: 10px;
}

.user_pro {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #d6e6f1;
    background: #d6e6f1;
}

.col2 .fa {
    font-size: 90px;
    margin-top: 13px;
}



.curr_point {
    cursor: pointer;
}
table {
    width: 100%;
}

#withdraw {
    color: green;
}

#deposit {
    color: blue;
}

.mat-column-mobile, .mat-column-type {
    padding-right: 20px; /* Adjust the desired gap size */
  }

.mat-column-type, .mat-column-amount {
    padding-right: 20px; /* Adjust the desired gap size */
  }