<div class="modal fade" id="withdrownModal" tabindex="-1" role="dialog" aria-labelledby="withdrownModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="withdrownModalLabel">{{title.heading}}</h4>
				<button type="button" id="close" (click)="isModalOpen = false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<p>{{title.subHeading}}</p>
				<!-- <small class="text-danger">{{title.disclaimer}}</small> -->
				<form [formGroup]="withDrawnReqFormGroup" (keydown.enter)="$event.preventDefault();">
					<div class="form-group">

						<div class="row">
							<div class="col-12 mt-2">
								<label for="description">Description:<span class="text-danger">*</span></label>
								<input type="text" autocomplete="off" id="description" class="form-control" formControlName="description" required />
								<div class="text-danger"
									*ngIf="f['description'].errors && f['description'].dirty || f['description'].touched">
									<p class="error" *ngIf="f['description'].errors?.['required']">Description is required</p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" (click)="isModalOpen = false" class="btn btn-dark" data-dismiss="modal">Cancel</button>
				<button type="button" (click)="confirm()" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
</div>